* {
    box-sizing: border-box;
}
html {
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  color: #222222;
}
body {
  margin: 0;
  padding: 0;

}

.content {
  width: 100%;
  min-height: 600px;
  height: 100%;
  background: #f9f9f9
}
a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
