.footer {
    background: #f9f9f9;
    width:100%;
    display: flex;
    position: relative;
    justify-content: center;



}
.footer__wrapper {
    max-width: 980px;
    width: 100%;
    border-top: #c3c3c3 solid 1px;
}
.footer__item {
    font-size: 1rem;
    margin: 0 auto;
    padding: 1rem;
}